* { 
    outline: 1px black solid;
    background-color ;

}

body {
    background-color:#FFC084 ;
}

h1 {
    background-color:#A3BA34;
    font-size: 399%;
    text-align: center;
}

nav {
    background-color:#A3BA34;
    
    text-align: center;
    
     

}

h2 {
    background-color: #FF3C3C;
    font-size: 300%;
    
    
}

img {
    margin-left: 20px;
    ;
} 

p{
    background-color:#A6583B;
   
    padding:55px;
    ;
}


.column {
    float: right;
    width: 33%;
    text-align: center;
    
}

#response-output {
    text-align: center
;
}