* { 
    outline: 1px black solid;
    background-color:#FFC084 ;

}

h1 {
    background-color:#A3BA34;
}


li{

}


p { 
    padding:55px
}

h2 {
    background-color: #FF3C3C;
    font-size: 200% 
   
}

img {
    margin-left: 20px;
    ;
} 

p{
    background-color:#A6583B;
    margin-left: 200px;
}